<div>
    <div class="hello text-center" >
        <h1>{{ msg }}</h1>
      
        <h2>Stack</h2>
        <ul>
          <li>
            <a href="http://router.vuejs.org/" target="_blank">
              [vue-router]
            </a>
          </li>
          <li>
            <a href="http://vuex.vuejs.org/" target="_blank">
              [vuex]
            </a>
          </li>
          <li>
            <a href="http://vue-loader.vuejs.org/" target="_blank">
              [vue-loader]
            </a>
          </li>
          
          <li>
            <a href="https://github.com/vuejs/vue-class-component" target="_blank">
              [vue-class-component]
            </a>
          </li>
          <li>
            <a href="https://github.com/kaorun343/vue-property-decorator" target="_blank">
              [vue-property-decorator]
            </a>
          </li>
          <li>
            <a href="http://bluebirdjs.com/docs/getting-started.html" target="_blank">
              [bluebird promise]
            </a>
          </li>
          <li>
            <a href="https://lodash.com" target="_blank">
              [lodash]
            </a>
          </li>
         
          <li>
            <a href="https://github.com/axios/axios" target="_blank">
              [axios]
            </a>
          </li>
          <li>
            <a href="https://babeljs.io" target="_blank">
              [babel]
            </a>
          </li>
          <li>
            <a href="https://jquery.com" target="_blank">
              [jQuery]
            </a>
          </li>
          <li>
            <a href="https://getbootstrap.com" target="_blank">
              [bootstrap 4]
            </a>
          </li>
          <li>
            <a href="http://fontawesome.io" target="_blank">
              [font awesome]
            </a>
          </li>
          <li>
            <a href="https://webpack.js.org" target="_blank">
              [webpack 3]
            </a>
          </li>
          <li>
            <a href="https://www.typescriptlang.org" target="_blank">
              [typescript]
            </a>
          </li>
          <li>
            <a href="https://palantir.github.io/tslint/" target="_blank">
              [TSLint]
            </a>
          </li>
          <li>
            <a href="https://github.com/progre/tslint-config-airbnb" target="_blank">
               [A TSLint config for Airbnb JavaScript Style]
            </a>
          </li>
        </ul>
      
      
      </div>
      <div class="col-sm-12">
      
        <div class="card mb-5">
          <div class="card-header">
            Todos
          </div>
          <ul class="list-group list-group-flush" v-for="todo of todos">
            <li class="list-group-item">{{todo.title}}</li>
      
          </ul>
        </div>
      </div>
</div>